.container{
  margin: 2px 7px;
  border: 2px solid gray;
}
.main-div{
  background-color: black;
  color: white;
}
.Education{
  margin: 4px;
  background-color: grey;
  padding: 4px;
}
.name{
  font-size: x-large;
  font-weight: bold;
  color: white;

}

.border{
  border: 3px dotted red;
}
.set{
height: 20rem;
width: 20rem;
background-color: aquamarine;
}

div img{
  height: 30rem;
  width: 50rem;
}
div img:hover{
  height: 40rem;
  width: 70rem;
}

